MediaManager/Service References/GeneralProgrammingService/GeneralProgrammingService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Acquisition/GeneralProgrammingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" />
  <xs:complexType name="BaseRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="BaseVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuditData" nillable="true" type="tns:AuditDataVO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAppMessage" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="PersistFlag" type="q1:PersistFlagEnum" />
      <xs:element minOccurs="0" name="SuccessFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseVO" nillable="true" type="tns:BaseVO" />
  <xs:complexType name="AuditDataVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntryOperator" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditDataVO" nillable="true" type="tns:AuditDataVO" />
  <xs:complexType name="ArrayOfAppMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppMessage" nillable="true" type="tns:AppMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppMessage" nillable="true" type="tns:ArrayOfAppMessage" />
  <xs:complexType name="AppMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="Type" type="q2:MessageTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppMessage" nillable="true" type="tns:AppMessage" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAppMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
</xs:schema>