MediaManager/Service References/DealMemoService/DealMemoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pluto.Entities.Finance.PaymentFunctions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pluto.Entities.Finance.PaymentFunctions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContractDetailVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractEntity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractDetailVO" nillable="true" type="tns:ContractDetailVO" />
  <xs:complexType name="TotalPaidVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountPaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludingMarkupContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludingMarkupSel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludingMarkupTitles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenRefNo" type="xs:int" />
      <xs:element minOccurs="0" name="GenSerNo" type="xs:int" />
      <xs:element minOccurs="0" name="GenTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludingMarkupContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludingMarkupSel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludingMarkupTitles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Liability" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutLiabilityContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutLiabilityTitles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpotRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPaidSel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalTitles" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TotalPaidVO" nillable="true" type="tns:TotalPaidVO" />
  <xs:complexType name="ArrayOfTotalPaidVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TotalPaidVO" nillable="true" type="tns:TotalPaidVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTotalPaidVO" nillable="true" type="tns:ArrayOfTotalPaidVO" />
</xs:schema>