MediaManager/Service References/DealMemoService/DealMemoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.GeneralProgramming" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.GeneralProgramming" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Acquisition/DealMemoService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Pluto.Entities.Acquisition.GeneralProgramming" />
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Acquisition/DealMemoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" />
  <xs:complexType name="ChannelMaintenanceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.Entities.Acquisition.GeneralProgramming" minOccurs="0" name="ChannelAuthoritiesList" nillable="true" type="q2:ArrayOfAuthoritiesVO" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pluto.Entities.Acquisition.GeneralProgramming" minOccurs="0" name="ChannelTerritoriesList" nillable="true" type="q3:ArrayOfTerritoryVO" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pluto.Entities.Acquisition.GeneralProgramming" minOccurs="0" name="Channels" nillable="true" type="q4:ChannelVO" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pluto.Entities.Acquisition.GeneralProgramming" minOccurs="0" name="ChannelsList" nillable="true" type="q5:ArrayOfChannelVO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelMaintenanceRequest" nillable="true" type="tns:ChannelMaintenanceRequest" />
  <xs:complexType name="ChannelMaintenanceResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q6:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pluto.Entities.Acquisition.GeneralProgramming" minOccurs="0" name="ChannelAuthorities" nillable="true" type="q7:ArrayOfAuthoritiesVO" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pluto.Entities.Acquisition.GeneralProgramming" minOccurs="0" name="ChannelTerritories" nillable="true" type="q8:ArrayOfTerritoryVO" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pluto.Entities.Acquisition.GeneralProgramming" minOccurs="0" name="Channels" nillable="true" type="q9:ChannelVO" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Pluto.Entities.Acquisition.GeneralProgramming" minOccurs="0" name="ChannelsList" nillable="true" type="q10:ArrayOfChannelVO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelMaintenanceResponse" nillable="true" type="tns:ChannelMaintenanceResponse" />
</xs:schema>