MediaManager/Service References/LookupsServices/LookupsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/LookupsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" />
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/LookupsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" />
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/LookupsService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" />
  <xs:complexType name="RequestorRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q1:LookupKeyEnum" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q2:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestorRequest" nillable="true" type="tns:RequestorRequest" />
  <xs:complexType name="ResquestorResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q3:RequestorLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResquestorResponse" nillable="true" type="tns:ResquestorResponse" />
  <xs:complexType name="GetCompanyComTypeRequest">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q4:LookupKeyEnum" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q5:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCompanyComTypeRequest" nillable="true" type="tns:GetCompanyComTypeRequest" />
  <xs:complexType name="GetCompanyComTypeResponse">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="Lookup" nillable="true" type="q6:GetCompanyComTypeLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCompanyComTypeResponse" nillable="true" type="tns:GetCompanyComTypeResponse" />
  <xs:complexType name="TapeFormatTypeRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q7:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q8:LookupKeyEnum" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q9:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TapeFormatTypeRequest" nillable="true" type="tns:TapeFormatTypeRequest" />
  <xs:complexType name="TapeFormatTypeResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q10:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="TapeFormatTypelookup" nillable="true" type="q11:TapeFormatTypeLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TapeFormatTypeResponse" nillable="true" type="tns:TapeFormatTypeResponse" />
  <xs:complexType name="CourierCompanyResquest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q12:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q13:LookupKeyEnum" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q14:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CourierCompanyResquest" nillable="true" type="tns:CourierCompanyResquest" />
  <xs:complexType name="CourierCompanyResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q15:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="Lookup" nillable="true" type="q16:CourierCompanyLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CourierCompanyResponse" nillable="true" type="tns:CourierCompanyResponse" />
  <xs:complexType name="GetSportTypeRequest">
    <xs:sequence>
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q17:LookupKeyEnum" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q18:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSportTypeRequest" nillable="true" type="tns:GetSportTypeRequest" />
  <xs:complexType name="GetSportTypeResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q19:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q20:SportTypeLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSportTypeResponse" nillable="true" type="tns:GetSportTypeResponse" />
  <xs:complexType name="GetPlayStatusRequest">
    <xs:sequence>
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q21:LookupKeyEnum" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q22:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPlayStatusRequest" nillable="true" type="tns:GetPlayStatusRequest" />
  <xs:complexType name="GetPlayStatusResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q23:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q24:PlayStatusLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPlayStatusResponse" nillable="true" type="tns:GetPlayStatusResponse" />
  <xs:complexType name="GetCompanyCountryCodeRequest">
    <xs:sequence>
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q25:LookupKeyEnum" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q26:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCompanyCountryCodeRequest" nillable="true" type="tns:GetCompanyCountryCodeRequest" />
  <xs:complexType name="GetCompanyCountryCodeResponse">
    <xs:sequence>
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="Lookup" nillable="true" type="q27:GetCompanyCountryCodeLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCompanyCountryCodeResponse" nillable="true" type="tns:GetCompanyCountryCodeResponse" />
  <xs:complexType name="EpisodeTitleLookupRequest">
    <xs:sequence>
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q28:LookupKeyEnum" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q29:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EpisodeTitleLookupRequest" nillable="true" type="tns:EpisodeTitleLookupRequest" />
  <xs:complexType name="EpisodeTitleLookupResponse">
    <xs:sequence>
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="EpisodeTitleLookupRes" nillable="true" type="q30:EpisodeTitleLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EpisodeTitleLookupResponse" nillable="true" type="tns:EpisodeTitleLookupResponse" />
  <xs:complexType name="PromLibraryLookUpRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q31:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q32:LookupKeyEnum" />
          <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q33:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromLibraryLookUpRequest" nillable="true" type="tns:PromLibraryLookUpRequest" />
  <xs:complexType name="PromLibraryLookUpResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q34:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="PromoLibLookup" nillable="true" type="q35:PromoLibraryLookUp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromLibraryLookUpResponse" nillable="true" type="tns:PromLibraryLookUpResponse" />
  <xs:complexType name="PromoTypeLookUpRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q36:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q37:LookupKeyEnum" />
          <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q38:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoTypeLookUpRequest" nillable="true" type="tns:PromoTypeLookUpRequest" />
  <xs:complexType name="PromoTypeLookUpReponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q39:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="PromotionalTypelookup" nillable="true" type="q40:PromoTypeLookUp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoTypeLookUpReponse" nillable="true" type="tns:PromoTypeLookUpReponse" />
  <xs:complexType name="PromoMaterialStatusLookUpRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q41:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q42:LookupKeyEnum" />
          <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q43:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoMaterialStatusLookUpRequest" nillable="true" type="tns:PromoMaterialStatusLookUpRequest" />
  <xs:complexType name="PromoMaterialStatusLookUpReponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q44="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q44:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="PromoStatusLookup" nillable="true" type="q45:PromoMaterialStatusLookUp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoMaterialStatusLookUpReponse" nillable="true" type="tns:PromoMaterialStatusLookUpReponse" />
  <xs:complexType name="PromoUserLookUpRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q46="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q46:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q47:LookupKeyEnum" />
          <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q48:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoUserLookUpRequest" nillable="true" type="tns:PromoUserLookUpRequest" />
  <xs:complexType name="PromoUserLookUpResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q49="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q49:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="PromoUserLookup" nillable="true" type="q50:PromoUserLookUp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoUserLookUpResponse" nillable="true" type="tns:PromoUserLookUpResponse" />
  <xs:complexType name="PromoProgrammeTypeLookUpRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q51="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q51:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q52:LookupKeyEnum" />
          <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q53:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoProgrammeTypeLookUpRequest" nillable="true" type="tns:PromoProgrammeTypeLookUpRequest" />
  <xs:complexType name="PromoProgrammeTypeLookUpResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q54="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q54:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="PromoProgTypeLookup" nillable="true" type="q55:PromoProgrammeTypeLookUp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoProgrammeTypeLookUpResponse" nillable="true" type="tns:PromoProgrammeTypeLookUpResponse" />
  <xs:complexType name="GetLibraryLookUpRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q56="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q56:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q57:LookupKeyEnum" />
          <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q58:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLibraryLookUpRequest" nillable="true" type="tns:GetLibraryLookUpRequest" />
  <xs:complexType name="GetLibraryLookUpResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q59="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q59:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LibLookUp" nillable="true" type="q60:LibraryLookUp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLibraryLookUpResponse" nillable="true" type="tns:GetLibraryLookUpResponse" />
  <xs:complexType name="PromoActionLookupRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q61="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q61:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q62:LookupKeyEnum" />
          <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q63:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoActionLookupRequest" nillable="true" type="tns:PromoActionLookupRequest" />
  <xs:complexType name="PromoActionLookupResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q64="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q64:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="PromoActionLookup" nillable="true" type="q65:PromoActionLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoActionLookupResponse" nillable="true" type="tns:PromoActionLookupResponse" />
  <xs:complexType name="PromoLibrarianLookupRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q66="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q66:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q67:LookupKeyEnum" />
          <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q68:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoLibrarianLookupRequest" nillable="true" type="tns:PromoLibrarianLookupRequest" />
  <xs:complexType name="PromoLibrarianLookupResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q69="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q69:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="PromoLibrarianLookup" nillable="true" type="q70:PromoLibrarianLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoLibrarianLookupResponse" nillable="true" type="tns:PromoLibrarianLookupResponse" />
  <xs:complexType name="PromoLibUserTypeLookUpRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q71="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q71:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q72:LookupKeyEnum" />
          <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q73:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoLibUserTypeLookUpRequest" nillable="true" type="tns:PromoLibUserTypeLookUpRequest" />
  <xs:complexType name="PromoLibUserTypeLookUpResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q74="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q74:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="PromoLibUserLookup" nillable="true" type="q75:PromoLibraryUserTypeLookUp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoLibUserTypeLookUpResponse" nillable="true" type="tns:PromoLibUserTypeLookUpResponse" />
  <xs:complexType name="PromoAvailableMaterialLookUpRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q76="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q76:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q77:LookupKeyEnum" />
          <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q78:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoAvailableMaterialLookUpRequest" nillable="true" type="tns:PromoAvailableMaterialLookUpRequest" />
  <xs:complexType name="PromoAvailableMaterialLookUpResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q79="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q79:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="AvailableMaterialLookup" nillable="true" type="q80:PromoAvailableMaterialLookUp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromoAvailableMaterialLookUpResponse" nillable="true" type="tns:PromoAvailableMaterialLookUpResponse" />
  <xs:complexType name="ProgramEventTypeLookUpRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q81="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q81:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q82:LookupKeyEnum" />
          <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q83:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgramEventTypeLookUpRequest" nillable="true" type="tns:ProgramEventTypeLookUpRequest" />
  <xs:complexType name="ProgramEventTypeLookUpResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q84="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q84:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="ProgEventTypeLookup" nillable="true" type="q85:ProgramEventTypeLookUp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgramEventTypeLookUpResponse" nillable="true" type="tns:ProgramEventTypeLookUpResponse" />
  <xs:complexType name="MediaTypeRequest">
    <xs:sequence>
      <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q86:LookupKeyEnum" />
      <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q87:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaTypeRequest" nillable="true" type="tns:MediaTypeRequest" />
  <xs:complexType name="MediaTypeResponse">
    <xs:sequence>
      <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="Lookup" nillable="true" type="q88:MediaTypeLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaTypeResponse" nillable="true" type="tns:MediaTypeResponse" />
  <xs:complexType name="DeliveryRequest">
    <xs:sequence>
      <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q89:LookupKeyEnum" />
      <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q90:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryRequest" nillable="true" type="tns:DeliveryRequest" />
  <xs:complexType name="DeliveryResponse">
    <xs:sequence>
      <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="Lookup" nillable="true" type="q91:DeliveryLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryResponse" nillable="true" type="tns:DeliveryResponse" />
  <xs:complexType name="GetAreaRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q92="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q92:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q93:LookupKeyEnum" />
          <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q94:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAreaRequest" nillable="true" type="tns:GetAreaRequest" />
  <xs:complexType name="GetAreaResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q95="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q95:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="Lookup" nillable="true" type="q96:GetAreaLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAreaResponse" nillable="true" type="tns:GetAreaResponse" />
  <xs:complexType name="PaymentTypeRequest">
    <xs:sequence>
      <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q97:LookupKeyEnum" />
      <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q98:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentTypeRequest" nillable="true" type="tns:PaymentTypeRequest" />
  <xs:complexType name="PaymentTypeResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q99="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q99:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="PaymentTypeLookupRes" nillable="true" type="q100:PaymentTypeLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentTypeResponse" nillable="true" type="tns:PaymentTypeResponse" />
  <xs:complexType name="GetFMMLockLookupRequest">
    <xs:sequence>
      <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q101:LookupKeyEnum" />
      <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q102:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFMMLockLookupRequest" nillable="true" type="tns:GetFMMLockLookupRequest" />
  <xs:complexType name="GetFMMLockLookupResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q103="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q103:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="Lookup" nillable="true" type="q104:FMMLockLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetFMMLockLookupResponse" nillable="true" type="tns:GetFMMLockLookupResponse" />
  <xs:complexType name="GetFMMStatusLookupRequest">
    <xs:sequence>
      <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q105:LookupKeyEnum" />
      <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q106:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFMMStatusLookupRequest" nillable="true" type="tns:GetFMMStatusLookupRequest" />
  <xs:complexType name="GetFMMStatusLookupResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q107="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q107:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="Lookup" nillable="true" type="q108:FMMStatusLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetFMMStatusLookupResponse" nillable="true" type="tns:GetFMMStatusLookupResponse" />
  <xs:complexType name="MoodLookupRequest">
    <xs:sequence>
      <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q109:LookupKeyEnum" />
      <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q110:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoodLookupRequest" nillable="true" type="tns:MoodLookupRequest" />
  <xs:complexType name="MoodLookupResponse">
    <xs:sequence>
      <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q111:MoodLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoodLookupResponse" nillable="true" type="tns:MoodLookupResponse" />
  <xs:complexType name="GetChannelsRequest">
    <xs:sequence>
      <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q112:LookupKeyEnum" />
      <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q113:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetChannelsRequest" nillable="true" type="tns:GetChannelsRequest" />
  <xs:complexType name="GetChannelsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q114="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q114:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q115:ChannelLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetChannelsResponse" nillable="true" type="tns:GetChannelsResponse" />
  <xs:complexType name="GetChannelCompanyRequest">
    <xs:sequence>
      <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q116:LookupKeyEnum" />
      <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q117:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetChannelCompanyRequest" nillable="true" type="tns:GetChannelCompanyRequest" />
  <xs:complexType name="GetChannelCompanyResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q118="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q118:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q119:ChannelCompanyLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetChannelCompanyResponse" nillable="true" type="tns:GetChannelCompanyResponse" />
  <xs:complexType name="GetLicenseeRequest">
    <xs:sequence>
      <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q120:LookupKeyEnum" />
      <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q121:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLicenseeRequest" nillable="true" type="tns:GetLicenseeRequest" />
  <xs:complexType name="GetLicenseeResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q122="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q122:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q123:LicenseeLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLicenseeResponse" nillable="true" type="tns:GetLicenseeResponse" />
  <xs:complexType name="GetBudgetCodeRequest">
    <xs:sequence>
      <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q124:LookupKeyEnum" />
      <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q125:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBudgetCodeRequest" nillable="true" type="tns:GetBudgetCodeRequest" />
  <xs:complexType name="GetBudgetCodeResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q126="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q126:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q127:BudgetCodeLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBudgetCodeResponse" nillable="true" type="tns:GetBudgetCodeResponse" />
  <xs:complexType name="StudioCodeLookupRequest">
    <xs:sequence>
      <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q128:LookupKeyEnum" />
      <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q129:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudioCodeLookupRequest" nillable="true" type="tns:StudioCodeLookupRequest" />
  <xs:complexType name="StudioCodeLookupResponse">
    <xs:sequence>
      <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q130:StudioCodeLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudioCodeLookupResponse" nillable="true" type="tns:StudioCodeLookupResponse" />
  <xs:complexType name="BookingAreaRequest">
    <xs:sequence>
      <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q131:LookupKeyEnum" />
      <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q132:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingAreaRequest" nillable="true" type="tns:BookingAreaRequest" />
  <xs:complexType name="BookingAreaResponse">
    <xs:sequence>
      <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q133:BookingAreaLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingAreaResponse" nillable="true" type="tns:BookingAreaResponse" />
  <xs:complexType name="PersonnelNameRequest">
    <xs:sequence>
      <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q134:LookupKeyEnum" />
      <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q135:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonnelNameRequest" nillable="true" type="tns:PersonnelNameRequest" />
  <xs:complexType name="PersonnelNameResponse">
    <xs:sequence>
      <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q136:PersonnelNameLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonnelNameResponse" nillable="true" type="tns:PersonnelNameResponse" />
  <xs:complexType name="ManagementLevelRequest">
    <xs:sequence>
      <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q137:LookupKeyEnum" />
      <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q138:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagementLevelRequest" nillable="true" type="tns:ManagementLevelRequest" />
  <xs:complexType name="ManagementLevelResponse">
    <xs:sequence>
      <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q139:ManagementLevelLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagementLevelResponse" nillable="true" type="tns:ManagementLevelResponse" />
  <xs:complexType name="GetSeriesRequest">
    <xs:sequence>
      <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q140:LookupKeyEnum" />
      <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q141:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSeriesRequest" nillable="true" type="tns:GetSeriesRequest" />
  <xs:complexType name="GetSeriesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q142="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q142:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q143:SeriesLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSeriesResponse" nillable="true" type="tns:GetSeriesResponse" />
  <xs:complexType name="GetSeasonRequest">
    <xs:sequence>
      <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q144:LookupKeyEnum" />
      <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q145:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSeasonRequest" nillable="true" type="tns:GetSeasonRequest" />
  <xs:complexType name="GetSeasonResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q146="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q146:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q147:SeasonLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSeasonResponse" nillable="true" type="tns:GetSeasonResponse" />
  <xs:complexType name="GetProgrammeTypeRequest">
    <xs:sequence>
      <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q148:LookupKeyEnum" />
      <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q149:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProgrammeTypeRequest" nillable="true" type="tns:GetProgrammeTypeRequest" />
  <xs:complexType name="GetProgrammeTypeResponse">
    <xs:sequence>
      <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q150:ProgrammeTypeLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProgrammeTypeResponse" nillable="true" type="tns:GetProgrammeTypeResponse" />
  <xs:complexType name="CastRoleLookUpRequest">
    <xs:sequence>
      <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q151:LookupKeyEnum" />
      <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q152:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CastRoleLookUpRequest" nillable="true" type="tns:CastRoleLookUpRequest" />
  <xs:complexType name="CastRoleLookUpResponse">
    <xs:sequence>
      <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="CastRoleLookUpRes" nillable="true" type="q153:CastRoleLookUp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CastRoleLookUpResponse" nillable="true" type="tns:CastRoleLookUpResponse" />
  <xs:complexType name="CastAwardLookUpRequest">
    <xs:sequence>
      <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q154:LookupKeyEnum" />
      <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q155:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CastAwardLookUpRequest" nillable="true" type="tns:CastAwardLookUpRequest" />
  <xs:complexType name="CastAwardLookUpResponse">
    <xs:sequence>
      <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="CastAwardLookUpRes" nillable="true" type="q156:CastAwardLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CastAwardLookUpResponse" nillable="true" type="tns:CastAwardLookUpResponse" />
  <xs:complexType name="GetGenSeriesLookupRequest">
    <xs:sequence>
      <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q157:LookupKeyEnum" />
      <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q158:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenSeriesLookupRequest" nillable="true" type="tns:GetGenSeriesLookupRequest" />
  <xs:complexType name="GetGenSeriesLookupResponse">
    <xs:sequence>
      <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GetGenSeriesRes" nillable="true" type="q159:GetGenSeriesLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenSeriesLookupResponse" nillable="true" type="tns:GetGenSeriesLookupResponse" />
  <xs:complexType name="GetGenCodeLookupRequest">
    <xs:sequence>
      <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q160:LookupKeyEnum" />
      <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q161:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenCodeLookupRequest" nillable="true" type="tns:GetGenCodeLookupRequest" />
  <xs:complexType name="GetGenCodeLookupResponse">
    <xs:sequence>
      <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GetGenCodeLookUpRes" nillable="true" type="q162:GetGenCodeLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenCodeLookupResponse" nillable="true" type="tns:GetGenCodeLookupResponse" />
  <xs:complexType name="GetRatingMPAARequest">
    <xs:sequence>
      <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q163:LookupKeyEnum" />
      <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q164:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRatingMPAARequest" nillable="true" type="tns:GetRatingMPAARequest" />
  <xs:complexType name="GetRatingMPAAResponse">
    <xs:sequence>
      <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GetGenRatingMPAARes" nillable="true" type="q165:GetGenRatingMPAALookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRatingMPAAResponse" nillable="true" type="tns:GetRatingMPAAResponse" />
  <xs:complexType name="GetRatingINTRequest">
    <xs:sequence>
      <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q166:LookupKeyEnum" />
      <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q167:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRatingINTRequest" nillable="true" type="tns:GetRatingINTRequest" />
  <xs:complexType name="GetRatingINTResponse">
    <xs:sequence>
      <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GetGenRatingINTRes" nillable="true" type="q168:GetGenRatingINTLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRatingINTResponse" nillable="true" type="tns:GetRatingINTResponse" />
  <xs:complexType name="GetProgrammeCategoryRequest">
    <xs:sequence>
      <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q169:LookupKeyEnum" />
      <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q170:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProgrammeCategoryRequest" nillable="true" type="tns:GetProgrammeCategoryRequest" />
  <xs:complexType name="GetPrgorammeCategoryResponse">
    <xs:sequence>
      <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q171:ProgrammeCategoryLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPrgorammeCategoryResponse" nillable="true" type="tns:GetPrgorammeCategoryResponse" />
  <xs:complexType name="GetLangSpokenRequest">
    <xs:sequence>
      <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q172:LookupKeyEnum" />
      <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q173:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLangSpokenRequest" nillable="true" type="tns:GetLangSpokenRequest" />
  <xs:complexType name="GetLangSpokenResponse">
    <xs:sequence>
      <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GetLangSpokenRes" nillable="true" type="q174:GetSpokenLangLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLangSpokenResponse" nillable="true" type="tns:GetLangSpokenResponse" />
  <xs:complexType name="GetGenDistributorRequest">
    <xs:sequence>
      <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q175:LookupKeyEnum" />
      <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q176:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenDistributorRequest" nillable="true" type="tns:GetGenDistributorRequest" />
  <xs:complexType name="GetGenDistributorResponse">
    <xs:sequence>
      <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GetDistributorRes" nillable="true" type="q177:GetGenDistributorLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenDistributorResponse" nillable="true" type="tns:GetGenDistributorResponse" />
  <xs:complexType name="GetGenColouRequest">
    <xs:sequence>
      <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q178:LookupKeyEnum" />
      <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q179:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenColouRequest" nillable="true" type="tns:GetGenColouRequest" />
  <xs:complexType name="GetGenColorResponse">
    <xs:sequence>
      <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GetGenColorRes" nillable="true" type="q180:GetGenColorLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenColorResponse" nillable="true" type="tns:GetGenColorResponse" />
  <xs:complexType name="GetGenQualityRequest">
    <xs:sequence>
      <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q181:LookupKeyEnum" />
      <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q182:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenQualityRequest" nillable="true" type="tns:GetGenQualityRequest" />
  <xs:complexType name="GetGenQualityResponse">
    <xs:sequence>
      <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GetGenQualityRes" nillable="true" type="q183:GetGenQualityLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenQualityResponse" nillable="true" type="tns:GetGenQualityResponse" />
  <xs:complexType name="GetGenTargetGroupRequest">
    <xs:sequence>
      <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q184:LookupKeyEnum" />
      <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q185:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenTargetGroupRequest" nillable="true" type="tns:GetGenTargetGroupRequest" />
  <xs:complexType name="GetGenTargetGroupResponse">
    <xs:sequence>
      <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GenTargetGroupRes" nillable="true" type="q186:GetGenTargetGroupLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGenTargetGroupResponse" nillable="true" type="tns:GetGenTargetGroupResponse" />
  <xs:complexType name="GenNationalityRequest">
    <xs:sequence>
      <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q187:LookupKeyEnum" />
      <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q188:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenNationalityRequest" nillable="true" type="tns:GenNationalityRequest" />
  <xs:complexType name="GenNationalityResponse">
    <xs:sequence>
      <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="GenNationalityRes" nillable="true" type="q189:GetGenNationalityLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenNationalityResponse" nillable="true" type="tns:GenNationalityResponse" />
  <xs:complexType name="GetSupplierRequest">
    <xs:sequence>
      <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q190:LookupKeyEnum" />
      <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q191:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSupplierRequest" nillable="true" type="tns:GetSupplierRequest" />
  <xs:complexType name="GetSupplierResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q192="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q192:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q193:SupplierLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSupplierResponse" nillable="true" type="tns:GetSupplierResponse" />
  <xs:complexType name="GetContractRequest">
    <xs:sequence>
      <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q194:LookupKeyEnum" />
      <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q195:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetContractRequest" nillable="true" type="tns:GetContractRequest" />
  <xs:complexType name="GetContractResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q196="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q196:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q197:ContractLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetContractResponse" nillable="true" type="tns:GetContractResponse" />
  <xs:complexType name="GetLicenseTypeRequest">
    <xs:sequence>
      <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q198:LookupKeyEnum" />
      <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q199:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLicenseTypeRequest" nillable="true" type="tns:GetLicenseTypeRequest" />
  <xs:complexType name="GetLicenseTypeResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q200="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q200:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q201:LicenseTypeLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLicenseTypeResponse" nillable="true" type="tns:GetLicenseTypeResponse" />
  <xs:complexType name="LoadLookupRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q202="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q202:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKey" type="q203:LookupKeyEnum" />
          <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModulEnum" type="q204:ModuleEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoadLookupRequest" nillable="true" type="tns:LoadLookupRequest" />
  <xs:complexType name="FillerTypeLookUpResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q205="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q205:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q206:FillerTypeLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FillerTypeLookUpResponse" nillable="true" type="tns:FillerTypeLookUpResponse" />
  <xs:complexType name="FillerCategoryLookupResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q207="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q207:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q208:FillerCategoryLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FillerCategoryLookupResponse" nillable="true" type="tns:FillerCategoryLookupResponse" />
  <xs:complexType name="FillerDistributorLookupResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q209="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q209:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q210:FillerDistributorLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FillerDistributorLookupResponse" nillable="true" type="tns:FillerDistributorLookupResponse" />
  <xs:complexType name="FillerViewedByLookupResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q211="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" base="q211:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q212="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="LookUp" nillable="true" type="q212:FillerViewedByLookup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FillerViewedByLookupResponse" nillable="true" type="tns:FillerViewedByLookupResponse" />
  <xs:complexType name="GetSubGenreLookupRequest">
    <xs:sequence>
      <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="LookupKeyEnum" type="q213:LookupKeyEnum" />
      <xs:element xmlns:q214="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" minOccurs="0" name="ModuleEnum" type="q214:ModuleEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSubGenreLookupRequest" nillable="true" type="tns:GetSubGenreLookupRequest" />
  <xs:complexType name="GetSubGenreLookupResponse">
    <xs:sequence>
      <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/Pluto.Common.Lookups" minOccurs="0" name="SubGenreLookupRes" nillable="true" type="q215:SubGenreLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSubGenreLookupResponse" nillable="true" type="tns:GetSubGenreLookupResponse" />
</xs:schema>