MediaManager/Service References/InfrastructureService/InfrastructureService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InfrastructureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="EndPointTCP_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Pluto.Infrastructure.ExceptionHandling.Exceptions" />
      <xsd:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" />
      <xsd:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities" />
      <xsd:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.Entities.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInfrastructure_LoadMenus_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadMenus" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_LoadMenus_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadMenusResponse" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_LoadMenus_MNetServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.Infrastructure.ExceptionHandling.Exceptions" name="detail" element="q1:MNetServiceException" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_GetRolesForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesForUser" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_GetRolesForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_GetRolesForUser_MNetServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.Infrastructure.ExceptionHandling.Exceptions" name="detail" element="q2:MNetServiceException" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_GetAppParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppParameters" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_GetAppParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_GetAppParameters_MNetServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Pluto.Infrastructure.ExceptionHandling.Exceptions" name="detail" element="q3:MNetServiceException" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_GetControlsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetControlsForUser" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_GetControlsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetControlsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IInfrastructure_GetControlsForUser_MNetServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Pluto.Infrastructure.ExceptionHandling.Exceptions" name="detail" element="q4:MNetServiceException" />
  </wsdl:message>
  <wsdl:portType name="IInfrastructure">
    <wsdl:operation name="LoadMenus">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfrastructure/LoadMenus" message="tns:IInfrastructure_LoadMenus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfrastructure/LoadMenusResponse" message="tns:IInfrastructure_LoadMenus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInfrastructure/LoadMenusMNetServiceExceptionFault" name="MNetServiceExceptionFault" message="tns:IInfrastructure_LoadMenus_MNetServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfrastructure/GetRolesForUser" message="tns:IInfrastructure_GetRolesForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfrastructure/GetRolesForUserResponse" message="tns:IInfrastructure_GetRolesForUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInfrastructure/GetRolesForUserMNetServiceExceptionFault" name="MNetServiceExceptionFault" message="tns:IInfrastructure_GetRolesForUser_MNetServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfrastructure/GetAppParameters" message="tns:IInfrastructure_GetAppParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfrastructure/GetAppParametersResponse" message="tns:IInfrastructure_GetAppParameters_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInfrastructure/GetAppParametersMNetServiceExceptionFault" name="MNetServiceExceptionFault" message="tns:IInfrastructure_GetAppParameters_MNetServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetControlsForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfrastructure/GetControlsForUser" message="tns:IInfrastructure_GetControlsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfrastructure/GetControlsForUserResponse" message="tns:IInfrastructure_GetControlsForUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInfrastructure/GetControlsForUserMNetServiceExceptionFault" name="MNetServiceExceptionFault" message="tns:IInfrastructure_GetControlsForUser_MNetServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointHTTP" type="tns:IInfrastructure">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadMenus">
      <soap:operation soapAction="http://tempuri.org/IInfrastructure/LoadMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MNetServiceExceptionFault">
        <soap:fault use="literal" name="MNetServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <soap:operation soapAction="http://tempuri.org/IInfrastructure/GetRolesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MNetServiceExceptionFault">
        <soap:fault use="literal" name="MNetServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAppParameters">
      <soap:operation soapAction="http://tempuri.org/IInfrastructure/GetAppParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MNetServiceExceptionFault">
        <soap:fault use="literal" name="MNetServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetControlsForUser">
      <soap:operation soapAction="http://tempuri.org/IInfrastructure/GetControlsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MNetServiceExceptionFault">
        <soap:fault use="literal" name="MNetServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EndPointTCP" type="tns:IInfrastructure">
    <wsp:PolicyReference URI="#EndPointTCP_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LoadMenus">
      <soap12:operation soapAction="http://tempuri.org/IInfrastructure/LoadMenus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MNetServiceExceptionFault">
        <soap12:fault use="literal" name="MNetServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <soap12:operation soapAction="http://tempuri.org/IInfrastructure/GetRolesForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MNetServiceExceptionFault">
        <soap12:fault use="literal" name="MNetServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAppParameters">
      <soap12:operation soapAction="http://tempuri.org/IInfrastructure/GetAppParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MNetServiceExceptionFault">
        <soap12:fault use="literal" name="MNetServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetControlsForUser">
      <soap12:operation soapAction="http://tempuri.org/IInfrastructure/GetControlsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MNetServiceExceptionFault">
        <soap12:fault use="literal" name="MNetServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfrastructureService">
    <wsdl:port name="EndPointHTTP" binding="tns:EndPointHTTP">
      <soap:address location="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc" />
    </wsdl:port>
    <wsdl:port name="EndPointTCP" binding="tns:EndPointTCP">
      <soap12:address location="net.tcp://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/NTVMQARPT0124.FPS.NIHILENT.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>