MediaManager/Service References/InfrastructureService/InfrastructureService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" />
  <xs:element name="LoadMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="loadMenusRequest" nillable="true" type="q1:LoadMenusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="LoadMenusResult" nillable="true" type="q2:LoadMenusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="loadRolesRequest" nillable="true" type="q3:LoadRolesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="GetRolesForUserResult" nillable="true" type="q4:LoadRolesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="request" nillable="true" type="q5:GetAppParametersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="GetAppParametersResult" nillable="true" type="q6:GetAppParametersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="request" nillable="true" type="q7:LoadControlRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="GetControlsForUserResult" nillable="true" type="q8:LoadControlResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>