MediaManager/Service References/RegionSplitService/RegionSplitService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Finance/RegionSplitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Finance.Common" />
  <xs:element name="GetRegionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Finance.Common" minOccurs="0" name="request" nillable="true" type="q1:SearchRegionSplitRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Finance.Common" minOccurs="0" name="GetRegionListResult" nillable="true" type="q2:SearchRegionSplitResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>