MediaManager/Service References/ReportingService/ReportingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Common/ReportingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" />
  <xs:element name="GetReportServerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="getReportServerDataRequest" nillable="true" type="q1:GetReportServerDataRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportServerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="GetReportServerDataResult" nillable="true" type="q2:GetReportServerDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="getReportServerDataRequest" nillable="true" type="q3:ExportReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pluto.Common.DataContracts" minOccurs="0" name="ExportReportResult" nillable="true" type="q4:ExportReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>