MediaManager/Service References/AfricaLibraryService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" />
  <xs:element name="GetFidCodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q1:GetFIDCodeIDValRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFidCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="GetFidCodeListResult" nillable="true" type="q2:GetFIDCodeIDValResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q3:SearchLibraryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="GetStorageListResult" nillable="true" type="q4:SearchLibraryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q5:SearchLibraryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="GetMaxStorageResult" nillable="true" type="q6:SearchLibraryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLibraryDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q7:SearchLibraryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLibraryDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SaveLibraryDetailResult" nillable="true" type="q8:SearchLibraryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q9:SearchLibraryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLibraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="GetLibraryResult" nillable="true" type="q10:SearchLibraryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q11:SearchLibraryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLibraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SearchLibraryResult" nillable="true" type="q12:SearchLibraryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLibraryStorageDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q13:SearchLibraryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLibraryStorageDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SearchLibraryStorageDetailResult" nillable="true" type="q14:SearchLibraryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLibraryStorageDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q15:SearchLibraryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLibraryStorageDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SaveLibraryStorageDetailResult" nillable="true" type="q16:SearchLibraryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrafficToSuppDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q17:SearchMaterialRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrafficToSuppDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SearchTrafficToSuppDetailsResult" nillable="true" type="q18:SearchMaterialResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTrafficToSuppDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q19:SaveMaterialRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTrafficToSuppDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SaveTrafficToSuppDetailsResult" nillable="true" type="q20:SaveMaterialResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="GetMaterialListResult" nillable="true" type="q21:GetMaterialResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBookOutDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q22:SearchBookOutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBookOutDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SearchBookOutDetailsResult" nillable="true" type="q23:SearchBookOutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookOutDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q24:SaveBookOutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookOutDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SaveBookOutDetailsResult" nillable="true" type="q25:SaveBookOutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBookInDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q26:SearchBookInRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBookInDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SearchBookInDetailsResult" nillable="true" type="q27:SearchBookInResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookInDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q28:SaveBookInRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookInDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SaveBookInDetailsResult" nillable="true" type="q29:SaveBookInResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q30:SearchProgramRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="GetProgramDetailsResult" nillable="true" type="q31:SearchProgramResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProgDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q32:SaveProgramRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProgDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SaveProgDetailsResult" nillable="true" type="q33:SaveProgramResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBookInOutHistoryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q34:SearchBookInOutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBookInOutHistoryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SearchBookInOutHistoryDetailsResult" nillable="true" type="q35:SearchBookInOutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchActiveUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q36:SearchActiveUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchActiveUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SearchActiveUserDetailsResult" nillable="true" type="q37:SearchActiveUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q38:SaveActiveUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SaveUserDetailsResult" nillable="true" type="q39:SaveActiveUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMenUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="request" nillable="true" type="q40:SearchMenUsersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMenUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.MediaManagerLibrary" minOccurs="0" name="SearchMenUserDetailsResult" nillable="true" type="q41:SearchMenUsersReponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>