MediaManager/Service References/SchedulingOperationsServices/SchedulingOperationsServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pluto.Entities.Scheduling.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pluto.Entities.Scheduling.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfColumnsVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnsVO" nillable="true" type="tns:ColumnsVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumnsVO" nillable="true" type="tns:ArrayOfColumnsVO" />
  <xs:complexType name="ColumnsVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnsVO" nillable="true" type="tns:ColumnsVO" />
</xs:schema>