MediaManager/Service References/SchedulingOperationsServices/SchedulingOperationsServices8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Scheduling/SchedulingOperationsServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Scheduling.SuperSport" />
  <xs:element name="GetChannels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Scheduling.SuperSport" minOccurs="0" name="request" nillable="true" type="q1:GetChannelsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Scheduling.SuperSport" minOccurs="0" name="GetChannelsResult" nillable="true" type="q2:GetChannelsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProgrammeCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Scheduling.SuperSport" minOccurs="0" name="request" nillable="true" type="q3:SaveProgrammeCollectionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProgrammeCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Scheduling.SuperSport" minOccurs="0" name="SaveProgrammeCollectionResult" nillable="true" type="q4:SaveProgrammeCollectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsDayByDayRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Scheduling.SuperSport" minOccurs="0" name="request" nillable="true" type="q5:GetChannelsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsDayByDayRptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Scheduling.SuperSport" minOccurs="0" name="GetChannelsDayByDayRptResult" nillable="true" type="q6:GetChannelsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>