MediaManager/Service References/LicenseService/LicenseService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ntvmqarpt0124.fps.nihilent.com/MediaManagerServices/Acquisition/LicenseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" />
  <xs:element name="SaveLicenseeDeletionDetails_SS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q1:SaveLicenseeDeletionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseeDeletionDetails_SSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicenseeDeletionDetails_SSResult" nillable="true" type="q2:SaveLicenseeDeletionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeDeletionbyNumberDetails_SS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q3:SearchLicenseeDeletionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeDeletionbyNumberDetails_SSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseeDeletionbyNumberDetails_SSResult" nillable="true" type="q4:SearchLicenseeDeletionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeSrchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q5:SearchLicenseeReviewRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeSrchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseeSrchDetailsResult" nillable="true" type="q6:SearchLicenseeReviewResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseebyNumberDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q7:SearchLicenseeReviewRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseebyNumberDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseebyNumberDetailsResult" nillable="true" type="q8:SearchLicenseeReviewResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMagicLicenseeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q9:SearchMagicLicenseeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMagicLicenseeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchMagicLicenseeDetailsResult" nillable="true" type="q10:SearchMagicLicenseeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMagicLicenseeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q11:SaveMagicLicenseeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMagicLicenseeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveMagicLicenseeDetailsResult" nillable="true" type="q12:SaveMagicLicenseeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMagicLicenseebyNumberDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q13:SearchMagicLicenseeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMagicLicenseebyNumberDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchMagicLicenseebyNumberDetailsResult" nillable="true" type="q14:SearchMagicLicenseeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMagicLicenseeDetails_SS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q15:SearchMagicLicenseeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMagicLicenseeDetails_SSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchMagicLicenseeDetails_SSResult" nillable="true" type="q16:SearchMagicLicenseeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMagicLicenseeDetails_SS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q17:SaveMagicLicenseeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMagicLicenseeDetails_SSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveMagicLicenseeDetails_SSResult" nillable="true" type="q18:SaveMagicLicenseeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMagicLicenseebyNumberDetails_SS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q19:SearchMagicLicenseeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMagicLicenseebyNumberDetails_SSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchMagicLicenseebyNumberDetails_SSResult" nillable="true" type="q20:SearchMagicLicenseeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q21:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseDataResult" nillable="true" type="q22:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q23:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseDetailResult" nillable="true" type="q24:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseDetailforCatchup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q25:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseDetailforCatchupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseDetailforCatchupResult" nillable="true" type="q26:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseDataforCatchup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="saveLicenseMaintenanceRequest" nillable="true" type="q27:SaveLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseDataforCatchupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicenseDataforCatchupResult" nillable="true" type="q28:SaveLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseTerritoryPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q29:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseTerritoryPricingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseTerritoryPricingResult" nillable="true" type="q30:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q31:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseHistoryResult" nillable="true" type="q32:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicensePaymentPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q33:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicensePaymentPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicensePaymentPlanResult" nillable="true" type="q34:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicensePaymentSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q35:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicensePaymentScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicensePaymentScheduleResult" nillable="true" type="q36:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="saveLicenseMaintenanceRequest" nillable="true" type="q37:SaveLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicenseDataResult" nillable="true" type="q38:SaveLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseTerritoryPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="saveLicenseMaintenanceRequest" nillable="true" type="q39:SaveLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseTerritoryPricingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicenseTerritoryPricingResult" nillable="true" type="q40:SaveLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="saveLicenseMaintenanceRequest" nillable="true" type="q41:SaveLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicenseHistoryResult" nillable="true" type="q42:SaveLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicensePaymentPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="saveLicenseMaintenanceRequest" nillable="true" type="q43:SaveLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicensePaymentPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicensePaymentPlanResult" nillable="true" type="q44:SaveLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q45:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="ValidateLicenseStatusResult" nillable="true" type="q46:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseStartDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q47:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseStartDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="ValidateLicenseStartDateResult" nillable="true" type="q48:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseEndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q49:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseEndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="ValidateLicenseEndDateResult" nillable="true" type="q50:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseTBAChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q51:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseTBAChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="ValidateLicenseTBAChangeResult" nillable="true" type="q52:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLicensePayMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q53:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLicensePayMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="CalculateLicensePayMonthResult" nillable="true" type="q54:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicensePaymentPlanPB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="saveLicenseMaintenanceRequest" nillable="true" type="q55:SaveLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicensePaymentPlanPBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicensePaymentPlanPBResult" nillable="true" type="q56:SaveLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseMaintenanceSpecialData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q57:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseMaintenanceSpecialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseMaintenanceSpecialDataResult" nillable="true" type="q58:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseMaintenanceSpecialDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q59:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseMaintenanceSpecialDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseMaintenanceSpecialDetailResult" nillable="true" type="q60:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseMaintenanceSpecialTerritoryPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q61:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseMaintenanceSpecialTerritoryPricingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseMaintenanceSpecialTerritoryPricingResult" nillable="true" type="q62:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseMaintenanceSpecialHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q63:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseMaintenanceSpecialHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseMaintenanceSpecialHistoryResult" nillable="true" type="q64:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseMaintenanceSpecialData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="saveLicenseMaintenanceRequest" nillable="true" type="q65:SaveLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseMaintenanceSpecialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicenseMaintenanceSpecialDataResult" nillable="true" type="q66:SaveLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseMaintenanceSpecialTerritoryPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="saveLicenseMaintenanceRequest" nillable="true" type="q67:SaveLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseMaintenanceSpecialTerritoryPricingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicenseMaintenanceSpecialTerritoryPricingResult" nillable="true" type="q68:SaveLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseMaintenanceSpecialHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="saveLicenseMaintenanceRequest" nillable="true" type="q69:SaveLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseMaintenanceSpecialHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicenseMaintenanceSpecialHistoryResult" nillable="true" type="q70:SaveLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseMaintenanceSpecialStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q71:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseMaintenanceSpecialStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="ValidateLicenseMaintenanceSpecialStatusResult" nillable="true" type="q72:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseMaintenanceSpecialStartDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q73:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseMaintenanceSpecialStartDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="ValidateLicenseMaintenanceSpecialStartDateResult" nillable="true" type="q74:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseMaintenanceSpecialEndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="searchLicenseMaintenanceRequest" nillable="true" type="q75:SearchLicenseMaintenanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseMaintenanceSpecialEndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="ValidateLicenseMaintenanceSpecialEndDateResult" nillable="true" type="q76:SearchLicenseMaintenanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeDeletionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q77:SearchLicenseeDeletionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeDeletionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseeDeletionDetailsResult" nillable="true" type="q78:SearchLicenseeDeletionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseeDeletionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q79:SaveLicenseeDeletionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseeDeletionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SaveLicenseeDeletionDetailsResult" nillable="true" type="q80:SaveLicenseeDeletionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeDeletionbyNumberDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q81:SearchLicenseeDeletionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeDeletionbyNumberDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseeDeletionbyNumberDetailsResult" nillable="true" type="q82:SearchLicenseeDeletionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeDeletionDetails_SS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="request" nillable="true" type="q83:SearchLicenseeDeletionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLicenseeDeletionDetails_SSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Pluto.DataContracts.Acquistion.Licenses" minOccurs="0" name="SearchLicenseeDeletionDetails_SSResult" nillable="true" type="q84:SearchLicenseeDeletionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>